/* root variables */
:root {
  --primary-background: rgb(215, 215, 215);
  /* --primary-background: rgb(213, 234, 255); */
  /* --primary-background: rgba(222, 226, 230, 1); */
}

/* Link styles */
.plain-link {
  text-decoration: none; /* Removes the underline */
  color: white;
}

.bold-link {
  text-decoration: none; /* Removes the underline */
  font-weight: bold;     /* Makes the text bold */
}

.link-box {
  border: 1px solid white; /* Blue border */
  padding: 0px 8px;        /* Padding inside box around the text */
  font-size: 0.8rem;
  display: inline-block;   /* Ensures the box wraps the content */
  text-decoration: none;   /* Removes the underline from the link */
  color: white;            /* Text color */
  border-radius: 5px;      /* Rounded corners; adjust radius as needed */
  margin: 1.5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.link-box-large {
  border: 1px solid white; /* Blue border */
  padding: 0px 8px;        /* Padding inside box around the text */
  display: inline-block;   /* Ensures the box wraps the content */
  text-decoration: none;   /* Removes the underline from the link */
  color: white;            /* Text color */
  border-radius: 5px;      /* Rounded corners; adjust radius as needed */
  margin: 1.5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.link-box-dark {
  /* color: #434343; */
  border: 1px solid #6c757d; /* Blue border */
  padding: 0px 8px;          /* Padding around the text */
  font-size: 0.8rem;
  display: inline-block;     /* Ensures the box wraps the content */
  text-decoration: none;     /* Removes the underline from the link */
  color: #6c757d;            /* Text color */
  border-radius: 5px;        /* Rounded corners; adjust radius as needed */
  margin: 1.5px;
}

/* Main page headers */
.quarto-title-banner {
	margin-bottom: 1em;
	color: black;
	background: var(--primary-background);
}

/* Navbar text and background
navbar-brand is the larger link on the far left
original color: #dee2e6; */
.navbar-dark .navbar-brand {
	color: black;
	background-color: var(--primary-background);
}

.navbar-dark .navbar-nav .nav-link {
	color: black;
}

.navbar-dark {
  color: black;
	background-color: var(--primary-background);
	opacity: 1;
}

/* Navbar text hover, focus, active */
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
	color: black;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
	color: black;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: black;
}

/* Search bar */
.aa-Autocomplete .aa-Form, .aa-DetachedFormContainer .aa-Form {
	align-items: center;
	background-color: var(--primary-background);
	border: 1px solid black;
	border-radius: .25rem;
	color: #2d2d2d;
	display: flex;
	line-height: 1em;
	margin: 0;
	position: relative;
	width: 100%;
}

/* Other headers */
h1, .h1 {
	font-size: 2.5rem;
	margin-top: 5rem;
}

/* Pub page abstract */
div.quarto-about-jolla main {
	text-align: left;
}

/* Pub card subtitle */
.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
}

/* Pub page subtitle */
p.subtitle {
	margin-top: .25em;
	margin-bottom: .5em;
	text-align: center;
}

/* Investigator image and header styles*/
.investigator-image {
  position: relative;  /* Allows z-index to work */
}

.investigator-image img {
  float: left;
  width: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
  z-index: 1;   /* Ensures image is in front */
}

.investigator-image h2 {
  position: relative;
  width: auto;
  z-index: -1;  /* Ensures header underline */
}

/* Project image and header styles*/
.project-image {
  position: relative;  /* Allows z-index to work */
}

.project-image img {
  float: right;
  width: 30%;
  margin-left: 10px;
  margin-bottom: 10px;
  z-index: 1;
}

.project-image h2 {
  position: relative;
  width: auto;
  z-index: -1;  /* Ensures header underline */
}