/* Link styles */
.plain-link {
  text-decoration: none; /* Removes the underline */
  color: white;
}

.bold-link {
  text-decoration: none; /* Removes the underline */
  font-weight: bold;     /* Makes the text bold */
}

.link-box {
  border: 1px solid white; /* Blue border */
  padding: 0px 3px;        /* Padding around the text */
  display: inline-block;   /* Ensures the box wraps the content */
  text-decoration: none;   /* Removes the underline from the link */
  color: white;            /* Text color */
  border-radius: 5px;      /* Rounded corners; adjust radius as needed */
}

/* Investigator image and header styles*/
.investigator-image {
  position: relative;  /* Allows z-index to work */
}

.investigator-image img {
  float: left;
  width: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
  z-index: 1;   /* Ensures image is in front */
}

.investigator-image h2 {
  position: relative;
  width: auto;
  z-index: -1;  /* Ensures header underline */
}