/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
$font-family: "Atkinson Hyperlegible", sans-serif;

$link-color:  #565A5C;
$hover-color: lighten($link-color, 20%);

$link-color-bw:  $link-color;
$hover-color-bw: $hover-color;

$link-color-fade:  lighten($link-color, 30%);
$hover-color-fade: $link-color;

$tl-color:      #181818;
$tl-text-color: #525252;

/*-- scss:rules --*/

a {
  color: $link-color;

  &:hover {
    color: $hover-color;
  }
}

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  font-weight: bold; 
}

// Text themes
.text-bold {
  font-weight: bold;
  color: $link-color;
}

.link-plain {
  text-decoration: none;
}

.link-bold {
  @extend .link-plain;
  font-weight: bold;
  font-size: 1.2rem;
}

.link-bw {
  @extend .link-plain;
  color:  $link-color-bw;
  
  &:hover {
    color: $hover-color-bw;
  }
}

.link-box-large {
  display:         inline-block;      // Ensures the box wraps the content 
  text-decoration: none;              // Removes the underline from the link
  color:           $link-color;
  border:          1px solid $link-color;
  border-radius:   7px;               // Rounded corners; adjust radius as needed
  padding:         0.125rem 0.25rem;  // Padding inside box around the text
  margin:          1.5px;
  margin-top:      5px;
  margin-bottom:   5px;
  
  &:hover {
    color:  $hover-color;
    border: 1px solid $hover-color;
  }
}

.link-box { 
  @extend .link-box-large;
  font-size: 0.8rem;
  border-radius: 0.25rem;
}

.link-box-fade {
  @extend .link-box;
  border: 1px solid $link-color-fade;
  color:  $link-color-fade;
  
  &:hover {
    border: 1px solid $hover-color-fade;
    color:  $hover-color-fade;
  }
}

.link-box-bw {
  @extend .link-box;
  border: 1px solid $link-color-bw;
  color:  $link-color-bw;
  
  &:hover {
    border: 1px solid $hover-color-bw;
    color:  $hover-color-bw;
  }
}

// Image and header styles
.investigator-image {
  position: relative;     // Allows z-index to work
}

.investigator-image img {
  float:         left;
  width:         25%;
  margin-right:  10px;
  margin-bottom: 10px;
  z-index:       1;       // Ensures image is in front
}

.investigator-image h2 {
  position: relative;
  width:    auto;
  z-index:  -1;           // Ensures header underline
}

.project-image {
  @extend .investigator-image;
}

.project-image img {
  float:       right;
  width:       30%;
  margin-left: 10px;
}

// Other headers
h1, .h1 {
	font-size:  2.5rem;
	margin-top: 5rem;
}

// Publication page abstract
div.quarto-about-jolla main {
	text-align: left;
}

// Pub page subtitle
p.subtitle {
	margin-top:    .25em;
	margin-bottom: .5em;
	text-align:    center;
}

// Listing cards
.card-img, .card-img-top, .card-img-bottom {
  object-position: left;
}

div.quarto-about-jolla img.round {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
}

div.quarto-about-jolla .about-image {
  object-fit: contain;
  width: 100% !important;
}

.card-subtitle {
  margin-top:    -0.25rem;
  margin-bottom: 0.5rem;
}

// Timeline
#timeline {
  margin-right:  100px;
  margin-bottom: 50px;
}

.milestones__horizontal_line {
  background-color: $tl-color !important;
}

.milestones__group__label-horizontal {
  border-left: 1px solid $tl-color !important;
}

.milestones__group__label__text__title {
  font-size: 1rem !important;
}

.milestones__group__label-horizontal, .milestones__group__label-vertical, .milestones__group__label__text__title {
  color: $tl-text-color !important;
}

.milestones__group__bullet {
  background-color: $tl-color           !important;
  border:           3px solid $tl-color !important;
}

.milestones-label.milestones-link-label {
  @extend .link-bw;
  font-size: 0.65rem !important;
}
